.add-or-edit-task-popup {
    display: flex;
    flex-direction: column;
    background: white;
    box-shadow: 4px 4px 8px 0px #00000026;
    padding: 4vh 4vw;
    border-radius: 12px;
    gap:24px;
}

.add-or-edit-task-popup form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.add-or-edit-task-popup form input {
    border: none;
    box-shadow: 2px 2px 6px 0px #0000001A;
    border-radius: 12px;
    padding: 2vh 2vw;
    width: 35vw;
}

.title {
    font-size: 18px;
}

.description {
    height: 15vh;
    font-size: 13px;
}

.task-date {
    font-size: 13px;
}

::placeholder {
    color: #B5B5B5;
    font-weight: 400;
    font-family: Lexend;
}

label {
    font-size: 10px;
    color: red;
}

.add-or-edit-task-buttons {
    display: flex;
    flex-direction: row;
    gap: 24px;
    font-weight: 400;
    font-size: 20px;
    color: #251814;
    justify-content: flex-end;
}

.add-or-edit-task-buttons button {
    display: flex;
    padding: 2vh 2vw;
    border: 2px solid #EDB046;
    border-radius: 12px;
    cursor: pointer;
    font-family: Lexend;
}

.cancel-button {
    background: white;
}

.save-button {
    background: #EDB046;
}

@media screen and (max-width:800px) {
    .add-or-edit-task-popup form input {
        width: 40vw;
    }

    .title {
        font-size: 15px;
    }
}

@media screen and (max-width:600px) {
    .add-or-edit-task-popup form input {
        width: 70vw;
    }

    .add-or-edit-task-buttons button {
        padding: 2vh 4vw;
    }
}