.container {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-image: url("/assets/background-image.png");
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
}

.sign-up-container {
    display: flex;
    flex-direction: column;
    padding: 0 48px 32px;
    background: #EDB046;
    box-shadow: 4px 4px 16px 0px #0000001A;
    border-radius: 20px;
    color: white;
}

.sign-up-header {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 3vh 0 1vh 0;
    line-height: 0.3;
}

.sign-up-header h1 {
    font-weight: 700;
    font-size: 40px;
}

.sign-up-header p {
    font-weight: 400;
    font-size: 14px;
}

.sign-up-form form {
    display: flex;
    flex-direction: column;
    margin: 2vh 0 1vh;
    gap: 24px;
    align-items: center;
}

.name-container,
.username-and-email-container {
    display: flex;
    flex-direction: row;
    gap: 3vw;
}

.sign-up-form form div input {
    border: none;
    box-shadow: 2px 2px 8px 0px #0000001A;
    padding-left: 2vw;
}

input:focus {
    outline: none;
}

.name-container input,
.username-and-email-container input {
    width: 15vw;
    border-radius: 12px;
    padding: 3vh 0 3vh 2vw;
}

::placeholder {
    color: #B5B5B5;
    font-weight: 400;
    font-size: 13px;
}

.password-container {
    display: flex;
    width: 37vw;
}

.password {
    width: 32vw;
    padding: 3vh 0 3vh 2vw;
    border-radius: 12px 0 0 12px;
}

.eye-icon {
    display: flex;
    justify-content: center;
    width: 2vw;
    padding: 12px;
    background: white;
    border-radius: 0 12px 12px 0;
    box-shadow: 2px 2px 8px 0px #0000001A;
}

.eye-icon img {
    width: 22px;
}

label {
    font-size: 10px;
    color: red;
}

.sign-up-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign-up-footer a {
    text-decoration: none;
    color: white;
}

.sign-up-footer a div {
    display: flex;
    background: #BA5112;
    border-radius: 12px;
    border: none;
    font-weight: 400;
    font-size: 13px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 15px 40px;
}

.sign-up-footer p {
    font-weight: 400;
    font-size: 13px;
}

.sign-up-footer p a {
    font-weight: 400;
    font-size: 13px;
    color: #BA5112;
    cursor: pointer;
    text-decoration: none;
}

@media screen and (max-width: 800px) {
    .sign-up-header h1 {
        font-size: 30px;
    }

    .sign-up-header p {
        font-size: 10px;
    }

    ::placeholder {
        font-size: 10px;
    }

    .sign-up-footer a div {
        font-size: 8px;
        padding: 12px 36px;
    }

    .sign-up-footer p {
        font-size: 8px;
    }

    .sign-up-footer p a {
        font-size: 8px;
    }

    .eye-icon img {
        width: 15px;
    }
}

@media screen and (max-width: 560px) {

    .name-container input,
    .username-and-email-container input {
        width: 18vw;
    }

    .password-container {
        width: 42vw;
    }

    .password {
        width: 37vw;
    }

    .eye-icon {
        width: 2vw;
    }
}

@media screen and (max-width:480px) {

    .name-container input,
    .username-and-email-container input {
        width: 20vw;
    }

    .password-container {
        width: 46 vw;
    }
}

@media screen and (max-width:420px) {
    .password-container {
        width: 48vw;
    }
}