<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="side-navigation-top">
    <div class="side-navigation-component">
        <div class="component-heading">ALL</div>
        <div class="all-sub-components">
            <div>
                <a href="#" title="Dashboard">
                    <div class="component-img">
                        <img src="assets/dashboard-black.svg" class="black-image" />
                        <img src="assets/dashboard-red.svg" class="red-image" />
                    </div>
                    <div class="component-text">Dashboard</div>
                </a>
            </div>
        </div>
        <div class="all-sub-components">
            <div>
                <a routerLinkActive="active" routerLink="employees" title="Employees">
                    <div class="component-img">
                        <img src="assets/employees-black.svg" class="black-image" />
                        <img src="assets/employees-red.svg" class="red-image" />
                    </div>
                    <div class="component-text">Employees</div>
                </a>
            </div>
        </div>
    </div>
    <div class="side-navigation-component">
        <div class="component-heading">ROLE / USER MANAGEMENT</div>
        <div class="management-sub-components">
            <div>
                <a routerLinkActive="active" routerLink="roles" title="Roles">
                    <div class="component-img">
                        <img src="assets/roles-black.svg" class="black-image" />
                        <img src="assets/roles-red.svg" class="red-image" />
                    </div>
                    <div class="component-text">Roles</div>
                </a>
            </div>
        </div>
        <div class="management-sub-components">
            <div>
                <a href="#" title="Access rights">
                    <div class="component-img">
                        <img src="assets/assign-user-black.svg" class="black-image" />
                        <img src="assets/assign-user-red.svg" class="red-image" />
                    </div>
                    <div class="component-text">Access rights</div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="side-navigation-bottom">
    <div class="update-box">
        <div id="updateHeading">Install new update 2.3.1A</div>
        <div id="updateContent">Allow to launch the new update for the AD application</div>
        <div class="buttons">
            <button class="dismiss-button" title="Dismiss">Dismiss</button>
            <button class="accept-button" title="Accept">Accept</button>
        </div>
    </div>
</div>