.role-details-text div img{
    height: 11px;
    padding:0 1%;
}
#arrow{
    width: 12px;
}
.role-description{
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    width: 100%;
}
.role-description div:nth-child(1){
    margin-bottom: 1%;
    font-weight: 600;
    font-size: 18px;
}
.role-description div:nth-child(2){
    font-size: 13px;
    line-height: 1.5;
    color: #A0A6B0;
}
.card-profile{
    display: flex;
    align-items: center;
    margin-bottom: 6%;
}
.profile-image{
    display: flex;
    margin-right: 3%;
}
.profile-image img{
    width: 30px;
}
.details{
    display: flex;
    flex-direction: column;
    line-height: 1.3;
}
.details div:nth-child(1){
    font-size: 13px;
    font-weight:bold;
}
.details div:nth-child(2){
    font-size: 12px;
}
.card-data{
    display: flex;
    align-items: center;
    font-size: 12px;
    margin-bottom: 3%;
    /* color: #838C9E; */
    color: #4F555C;
}
.card-data img{
    padding-right: 6%;
    width:16px;
    height: 16px;
}